<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="com.example.demo.mapper.memberMapper">
 
 <select id="checkUser" resultType="com.example.demo.vo.memberVO">
		SELECT * FROM member WHERE id = #{param1} AND pw = #{param2}
 </select>
 
 <insert id="joinuser">
		INSERT INTO member (id,pw) VALUES (#{id}, #{pw})
 </insert>
    
 <select id="viewuser" resultType="com.example.demo.vo.memberVO">
		SELECT * FROM member
 </select>    
 
 </mapper>